.sidebar{
    background-color: black;
    color: white;
    width: 200px;
    height: 100;
    position: fixed;
    top: padding 50px; 
    top: 0;
    bottom: 0;
}
a{
    text-decoration: none;
}
.sidebar ul{
    list-style: none;
    margin: 20px;
    padding: 20px;
    font-style: normal;
}
li{
    padding: 15px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
.sidebar ul{
    text-decoration:none;
}
.sidebar a{
    color: white;
}
a:hover{
    background-color: brown;
}
.li{

}
.rounded_image{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow-y:none ;
}
.my_name{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.Introduction{
    margin-left: 200px;

    
}
.main_content{
    margin-left: 350px;
}
.introduction_text{
    font-size: ;
}

.contact_me {
    color:black;
    text-align:center;
    padding: 10px;
    font-size: 20px;

}
.contact_me a{
    border: 1px solid black;
    border-radius:5px;
    padding: 8px;
    text-decoration: none;
    color: white;
    background-color: black;

 
}
.contact_me a:hover{
    background-color: white;
    color: black;
    transition: 200ms ease-in-out;
}
.read_more{
    padding: 10px; 
}

.read_more a{
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 8px;
    font-size: 15px;
    border: 1px solid black;


}
.read_more a:hover{
    background-color: white;
    color: black;
    transition: 200 ease-in-out;


}